/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: none;
  border: none;
}

/* *************** */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  font-size: 16px;
}

.hidden {
  width: 100vw;
  height: 200vh;
  background: #000000cc;
  position: absolute;
  z-index: 1;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  position: fixed;
  border-bottom: 2px solid #0193b83e;
}
header .logo a {
  display: flex;
  align-items: center;
  color: #0193B8;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 22px;
  text-decoration: none;
}
header .logo a img {
  width: 40px;
  margin-right: 5px;
}
header .buttonsHeader button {
  background: none;
  border: none;
  padding: 10px;
  margin-left: 10px;
}
header .buttonsHeader button .fa-language {
  color: #0193B8;
}
header .buttonsHeader button .fa-language:active {
  transform: scale(0.95);
}
header .buttonsHeader button .fa-bars {
  color: #0193B8;
}
header .buttonsHeader button .hidden {
  display: none;
}

menu {
  background: #0193B8;
  position: fixed;
  top: 70px;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
}
menu.hidden {
  display: none;
}
menu ul {
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
menu ul li {
  padding: 10px;
}
menu ul a {
  color: #f0f0f0;
  text-decoration: none;
}
menu ul .terms {
  font-size: 12px;
  color: #e0e0e0;
}
menu ul .terms small {
  margin: 0px 10px;
}

.menuLang {
  background: #0193B8;
  position: fixed;
  top: 70px;
  width: 25%;
  right: 10%;
}
.menuLang.hidden {
  display: none;
}
.menuLang ul {
  list-style: none;
}
.menuLang ul li a {
  color: #f0f0f0;
  text-decoration: none;
}

main .section1 {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #003C4C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  justify-content: space-evenly;
}
main .section1 img {
  width: 100%;
  height: fit-content;
}
main .section1 h2 {
  color: #003C4C;
  margin: 25px 0px;
  font-weight: 700;
  font-size: 28px;
}
main .section1 p {
  margin: 0px;
  color: #003C4C;
  text-align: center;
  font-size: 16px;
  width: 80%;
  font-weight: 500;
  line-height: 25px;
}
main .section1 p .buttonRegistro {
  display: block;
  margin: 30px;
  background: #0193B8;
  color: #ffffff;
  border: none;
  padding: 18px 50px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}
main .section1 p .buttonRegistro:active {
  transform: scale(0.95);
}

.section2 {
  border-top: 1px solid #003c4c3f;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section2 p {
  font-size: 17px;
  line-height: 25px;
  margin: auto;
  text-align: center;
  width: 80%;
}

.section3 {
  background: #0193B8;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section3 h3 {
  color: #f0f0f0;
}
.section3 form {
  width: 80%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 form label {
  color: #f0f0f0;
}
.section3 form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 5px;
}
.section3 form input,
.section3 form select {
  width: 100%;
  padding: 15px 20px;
  margin: 5px 0px;
  outline: none;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}
.section3 form button {
  margin: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #f0f0f0;
  background: #273b70;
  cursor: pointer;
}
.section3 form button:active {
  transform: scale(0.95);
}

.termsPage {
  padding: 70px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.termsPage h1 {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
