@import "responsive.scss", "var.scss";

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: none;
  border: none;
}

/* *************** */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  // a {
  //   color: inherit;
  //   text-decoration: none;
  // }
}

html,
body {
  margin: 0;
  font-size: 16px;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  position: fixed;
  border-bottom: 2px solid #0193b83e;

  .logo {
    a {
      display: flex;
      align-items: center;
      color: $color1;
      font-weight: 600;
      letter-spacing: 2px;
      font-size: 22px;
      text-decoration: none;
      img {
        width: 40px;
        margin-right: 5px;
      }
    }
  }

  .buttonsHeader {
    button {
      background: none;
      border: none;
      padding: 10px;
      margin-left: 10px;

      .fa-language {
        color: $color1;
        &:active {
          transform: scale(0.95);
        }
      }
      .fa-bars {
        color: $color1;
      }

      .hidden {
        display: none;
      }
    }
  }
}

menu {
  background: $color1;
  position: absolute;
  top: 68px;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  &.hidden {
    display: none;
  }
  ul {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 10px;
    }

    a {
      color: $text;
      text-decoration: none;
    }

    .terms {
      font-size: 12px;
      color: #e0e0e0;
      small {
        margin: 0px 10px;
      }
    }
  }
}

main {
  .section1 {
    height: 100vh;
    width: 100%;
    text-align: center;
    color: $text2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    justify-content: space-evenly;

    img {
      width: 100%;
      height: fit-content;
    }

    h2 {
      color: $text2;
      margin: 25px 0px;
      font-weight: 700;
      font-size: 28px;
    }

    p {
      margin: 0px;
      color: $text2;
      text-align: center;
      font-size: 16px;
      width: 80%;
      font-weight: 500;
      line-height: 25px;
      .buttonRegistro {
        margin: 30px;
        background: $color1;
        color: #ffffff;
        border: none;
        padding: 18px 50px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 30px;
      }
    }
  }
}

.section2 {
  border-top: 1px solid #003c4c3f;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 17px;
    line-height: 25px;
    margin: auto;
    text-align: center;
    width: 80%;
  }
}

footer {
  display: none;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: $text2;
  div {
    margin: 2px;

    a {
      color: inherit;
      text-decoration: 0;
    }
  }
}
